<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="MMALL ADMIN">
    <meta name="author" content="YouJDP">
    <title>QS ADMIN</title>
<link rel="shortcut icon" href="/dist_back/favicon.ico"><link href="/dist_back/css/app.css?edc7c041976a11f86d25" rel="stylesheet"></head>
<body>
    <div id="app"></div>
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/dist_back/js/base.js?edc7c041976a11f86d25"></script><script type="text/javascript" src="/dist_back/js/app.js?edc7c041976a11f86d25"></script></body>

</html>
